{
  "verifyConditions": ["semantic-release-chrome", "@semantic-release/github"],
  "prepare": [
    {
      "path": "semantic-release-chrome",
      "asset": "scrobbler.zip"
    }
  ],
  "publish": [
    {
      "path": "semantic-release-chrome",
      "asset": "scrobbler.zip",
      "extensionId": "icdflblbjnbeheocngdibjbjbfkmpccf"
    },
    {
      "path": "@semantic-release/github",
      "assets": [
        {
          "path": "scrobbler.zip"
        }
      ]
    }
  ],
  "analyzeCommits": {
    "releaseRules": [
      {
        "scope": "manifest",
        "release": "patch"
      }
    ]
  }
}